<!DOCTYPE html>
<html lang="en">

<head>
    <title>AIIC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- <script defer>
        alert(localStorage.getItem("selectedDiscussion"));
    </script> -->
    <!-- <div>
        <h1>Recomended Issues </h1>
    </div>
    <div>
        <a class="btn btn-success" href="helloworld.html" style="float: right;"> Create Issues For Another
            Discussion</a>
    </div> -->

    <nav class="navbar navbar-expand-sm bg-light">

        <h5 class="navbar-brand" style="font-weight: bolder;">Recomended Issues</h5>

        <a class="btn btn-success ml-auto" href="helloworld.html">
            Create Issues For Another Discussion
        </a>
    </nav>

    <br>
    <!-- Spinner until the recomended issues are populated on to the screen -->
    <div id="spinner" class="d-flex row justify-content-center h-150 row align-items-center"></div>
    <div>

    </div>
    <div class="container">
        <div id="recomended-issues" class="row"></div>

    </div>
    <!-- The Issue Edit Modal -->
    <div class="modal fade" id="issueEditModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Issue Review & Edit</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="#" id="issueEditForm">
                        <div class="form-group">
                            <label for="summary">Summary</label>
                            <input type="text" class="form-control" placeholder="Enter Summary here!" id="summary"
                                name="summary">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" placeholder="Enter your description here!"
                                rows="3" name="description"></textarea>
                        </div>
                        <button class="btn btn-primary" style="float: right;" id="postData2Jira">Create
                            Issue
                            <span class="spinner-grow spinner-grow-sm" style="display: none;"
                                id="createIssueSpinner"></span>
                        </button>
                    </form>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <script>
        var selectedDiscussion = localStorage.getItem("selectedDiscussion");
        console.log(selectedDiscussion);
        var spinner = document.createElement("div");
        spinner.classList.add("spinner-border");
        spinner.classList.add("text-primary");
        spinner.style.width = "5rem";
        spinner.style.height = "5rem";

        document.getElementById("spinner").appendChild(spinner);
        console.log("getting data");

        var recomendedIsseus = [];

        var selectedDiscussionId;

        // function for getting recomended tasks for particular confluence id. 
        async function getRecomendedIssues() {
            // const url = "https://0eb8646f1004.ngrok.io/issuegen/68163451";
            //const url = `https://0eb8646f1004.ngrok.io/issuegen/${selectedDiscussion}`;
            //console.log(url);

            //replace the discussion link with the one Neal Preferred.
            const apiBaseUrl = '{{ data.baseUrl }}'
            const url = `${apiBaseUrl}/issuegen/https://docs.google.com/document/d/1R-fUKpPDsY7oIADHnr5k4fpzC2m1wG1mFLcqJEZd_gU`;

            const response = await fetch(url, {
                method: 'GET',
                mode: 'cors'
            })
                .then(response => response.json())
                .then(data => recomendedIsseus = data)
                .catch(err => console.log(err));
            spinner.remove();

            console.log(recomendedIsseus);

            //creating elements with the response from the back-end
            var wrapper = document.getElementById("recomended-issues");

            var i;
            for (i = 0; i < recomendedIsseus.length; i++) {
                //wrapper for card
                var cardWrapper = document.createElement("div");
                cardWrapper.className = "card border-primary";
                cardWrapper.classList.add("col-lg-5");
                cardWrapper.style.margin = "5px";
                cardWrapper.style.padding = "0px";

                // card header
                var cardHeader = document.createElement("div");
                cardHeader.className = "card-header text-center";
                cardHeader.style.backgroundColor = "#1963D1";
                cardHeader.style.color = "white";
                cardHeader.style.fontWeight = "bold";
                cardHeader.textContent = recomendedIsseus[i][0];

                // adding card header to the wrapper card
                cardWrapper.appendChild(cardHeader);

                // card body
                var cardBody = document.createElement("div");
                cardBody.className = "card-body text-center";
                cardBody.textContent = recomendedIsseus[i][1];

                // add tags here

                // adding card body to wrapper card
                cardWrapper.appendChild(cardBody);

                // card footer
                var cardFooter = document.createElement("div");
                cardFooter.className = "card-footer";
                cardFooter.style.backgroundColor = "#F4F5F7";

                //adding a review button for reviewing the  issues
                var review = document.createElement("button");
                review.className = "btn";
                review.style.backgroundColor = "#1963D1";
                review.style.color = "white";
                review.id = `${i}`;
                review.setAttribute("id", i);
                review.textContent = "Review";
                review.setAttribute("data-toggle", "modal");
                review.setAttribute("data-target", "#issueEditModal");

                review.addEventListener("click", event => {
                    selectedDiscussionId = event.currentTarget.id;
                    // storing Issue ID to later retrieve in the .js file to make the respective 
                    localStorage.setItem("selectedIssueId", selectedDiscussionId);
                    console.log(`selectedDiscussionId : ${localStorage.getItem("selectedIssueId")}`);
                    //prepopulating the modal form fields with respect to the user's choice to review particular issue.
                    var summary = document.getElementById("summary");
                    var description = document.getElementById("description");
                    summary.value = `${recomendedIsseus[selectedDiscussionId][0][0]}`;
                    description.value = `${recomendedIsseus[selectedDiscussionId][1]};`;
                })
                cardFooter.appendChild(review);

                //adding card footer to wrapper card
                cardWrapper.appendChild(cardFooter);

                //adding card to the wrapper div
                wrapper.appendChild(cardWrapper);
            }
        }
        // calling the above function.
        getRecomendedIssues();

    </script>


    <!-- Adding event listener to all the buttons -->
    <!-- <script defer>
        console.log(recomendedIsseus);
    </script> -->

    <!-- Issue create status modal -->
    <div class="modal fade" id="issueCreateStatus">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="issueCreateMessage"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <a id="issueCreateUrl">Click here to view issue on Jira.</a>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>



    <script type="text/javascript" src="{{ url_for('static', filename='scripts/recommendedIssues.js') }}"></script>
</body>

</html>