<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="relatedConfluenceLinks.css" crossorigin="cros"> -->
    <!-- <script src="jquery-3.5.1.min.js"></script> -->
    <script src="https://connect-cdn.atl-paas.net/all.js"></script>
</head>

<body>
    <h3 id="links-title">Related Confluence discussions:</h3>
    <!-- <ul id="confluence-links">
    </ul> -->
    <div id="accordion" style="margin-left: 10px; margin-right: 10px;">
        <script>
            getRelatedConfluenceDiscussions();

            //function for retrieving and displaying related Confluence Discussions.
            async function getRelatedConfluenceDiscussions() {

                // retrieving issue-id from the url.
                var parentPageUrl;
                let retrieveUrlStatus = new Promise((resolve, reject) => {
                    AP.getLocation(function (location) {
                        //alert(location);
                        console.log(location);
                        parentPageUrl = location
                        resolve("parent container url retrieved");
                    });
                });

                let statusResult = await retrieveUrlStatus;

                console.log(statusResult);
                console.log(parentPageUrl);
                var issueId;
                issueId = retrieveIssueId(parentPageUrl);
                console.log(issueId);

                //invoking the back-end api to find related discussions

                const apiBaseUrl = '{{ data.baseUrl }}'
                const url = `${apiBaseUrl}/similarity/${issueId}`;
                const response = await fetch(url, {
                    method: 'GET',
                    mode: 'cors'
                })
                    .then(response => response.json())
                    .then(data => relatedConfluenceLinks = data)
                    .catch(console.warn);

                // spinner.remove();
                console.log(relatedConfluenceLinks);

                var i;
                for (i = 0; i < relatedConfluenceLinks.length; i++) {

                    //getting accordion element
                    var accordion = document.getElementById("accordion");

                    //creating card-body

                    //creating an outer div for card-body
                    var card_2 = document.createElement("div");
                    var collapseHref = `collapse${i}`;
                    card_2.id = collapseHref;
                    card_2.className = "collapse"
                    card_2.setAttribute('data-parent', "#accordion");

                    //creating elements for card-body
                    var cardBody = document.createElement("div");
                    cardBody.className = "card-body";
                    cardBody.textContent = relatedConfluenceLinks[i][2];
                    var seeDiscussion = document.createElement("a");
                    seeDiscussion.textContent = "click here for discussion page";
                    seeDiscussion.href = relatedConfluenceLinks[i][1];
                    seeDiscussion.setAttribute("target", "_blank");
                    cardBody.appendChild(seeDiscussion);

                    card_2.appendChild(cardBody);

                    //creadting a div for card
                    var card_1 = document.createElement("div");
                    card_1.className = "card";

                    //creating elements for item - header
                    var cardHeader = document.createElement("div");
                    cardHeader.className = "card-header";

                    //using "a" tag
                    var a = document.createElement("a");
                    a.className = "card-link";
                    a.style.color = "#2684FF";
                    a.style.fontStyle = "bold";
                    a.style.fontSize = "1.25em";
                    a.textContent = relatedConfluenceLinks[i][0];
                    a.setAttribute('data-toggle', "collapse");
                    collapseHref = `#${collapseHref}`;
                    a.setAttribute('href', collapseHref);

                    //adding "a" to cardHeader as title
                    cardHeader.appendChild(a);

                    //adding cardHeader to card
                    card_1.appendChild(cardHeader);

                    card_1.appendChild(card_2);

                    // card_1.addEventListener("mouseover", () => { console.log("over"); card_2.classList.add("show"); });
                    // card_1.addEventListener("mouseout", () => { console.log("exit"); card_2.classList.remove("show"); });

                    // adding cardHeader to accordion
                    accordion.appendChild(card_1);

                }

                var i;
                var element = document.querySelectorAll("div.card");
                console.log(element.length);
                for (i = 0; i < element.length; i++) {
                    element[i].addEventListener("mouseover", mouseOver);
                    element[i].addEventListener("mouseout", mouseOut);
                }

                function retrieveIssueId(issue) {
                    var issueId = ""
                    var issue = issue.split("");
                    var issue = issue.reverse();
                    for (i = 0; i < issue.length; i++) {
                        if (i == 0 && issue[i] == "/")
                            continue;
                        else if (i != 0 && issue[i] == "/" || issue[i] == "=")
                            break;
                        else {
                            issueId += issue[i]
                        }
                    }

                    issueId = issueId.split("");
                    issueId = issueId.reverse();
                    issueId = issueId.join("");
                    return issueId;
                }

                function mouseOver(event) {
                    // console.log("entered");
                    //console.log(event.currentTarget.lastChild);
                    event.currentTarget.lastChild.classList.add("show");
                    // document.querySelector("div.collapse").classList.add("show");
                }

                function mouseOut() {
                    // console.log("exited");
                    // document.querySelector("div.collapse").classList.remove("show");
                    event.currentTarget.lastChild.classList.remove("show");
                }
            }
        </script>

        <!-- <script async>
            var i;
            var element = document.querySelectorAll("div.card");
            console.log(element.length);
            for (i = 0; i < element.length; i++) {
                element[i].addEventListener("mouseover", () => { console.log("hi") });
                element[i].addEventListener("mouseout", mouseOut);
            }
            function mouseOver() {
                console.log("entered");
                document.querySelector("div.collapse").classList.add("show");
            }

            function mouseOut() {
                console.log("exited");
                document.querySelector("div.collapse").classList.remove("show");
            }
        </script> -->
    </div>
    <!-- <div id="spinner" class="d-flex row justify-content-center h-100 row align-items-center">

    </div> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='scripts/relatedConfluenceDiscussions.js') }}"></script>
</body>

</html>